*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pokemon Solid', sans-serif;
}
body{
    background-color: #fff;
    background-image:
    linear-gradient(black 0.5px, transparent 1px),
    linear-gradient(90deg, black 0.5px, transparent 1px);
    background-size: clamp(20px, 4vw, 60px) clamp(20px, 4vw, 60px);
}
.navbar{
    background-color: #FC0003; 
    color: #fff;
    padding: 15px 0;
    position: sticky;
}
.nav-container{
    justify-content: space-between;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.nav-logo{
    font-size: 24px;
    font-weight: bold;
}
.nav-logo img{
    width: 80px;
    height: 80px;
}
.nav-menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.nav-menu li{
    margin-left: 20px;
}
.nav-menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}
.nav-menu li a:hover{
    color: #FF7B00;
}
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu div {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}

@media (max-width: 768px) {
    .burger-menu {
        display: flex;
    }
    nav {
        display: none;
    }
    .menu-active nav {
        display: block;
    }
}

.container{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    
}

h3{
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}
span{
    font-size: 32px;
    color: #FF7B00;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
}

.trainers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

.trainer-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.trainer-card:hover {
    transform: translateY(-5px);
}

.trainer-image {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.trainer-info {
    margin-top: 10px;
}

.trainer-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.trainer-region,
.trainer-badges,
.trainer-status {
    display: block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
}

.trainer-region { background-color: #6390F0; } /* Azul para región */
.trainer-badges { background-color: #F7D02C; } /* Amarillo para medallas */
.trainer-status.status-active { background-color: #7AC74C; } /* Verde para activo */
.trainer-status.status-champion { background-color: #EE8130; } /* Naranja para campeón */

.footer{
    background-color: #FC0003;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
